xformers==0.0.20
triton==2.0.0
gradio
torchsde
open_clip_torch
einops
rotary-embedding-torch
fairscale
pytorch-lightning
torchmetrics
opencv-python-headless
opencv-python
scipy
imageio
easydict
modelscope