--extra-index-url https://download.pytorch.org/whl/cu117
torch==2.0.1+cu117
torchvision==0.15.2+cu117
torchaudio==2.0.2+cu117
torchtext==0.15.2
torchdata==0.6.1
xformers==0.0.20
triton==2.0.0

xformers==0.0.20
triton==2.0.0
gradio
torchsde
open_clip_torch
einops
rotary-embedding-torch
fairscale
pytorch-lightning
torchmetrics
opencv-python-headless
opencv-python
scipy
imageio
easydict

addict
attrs
datasets>=2.8.0,<=2.13.0
filelock>=3.3.0
gast>=0.2.2
numpy
oss2
pandas
Pillow>=6.2.0
pyarrow>=6.0.0,!=9.0.0
python-dateutil>=2.1
pyyaml
requests>=2.25
setuptools
simplejson>=3.3.0
sortedcontainers>=1.5.9
tqdm>=4.64.0
urllib3>=1.26
yapf